@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(213, 16%, 49%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
  height: 100vh;
  display: grid;
  place-items: center;
}



.rating-container,
.thank-you {
  max-width: 400px;
  margin-inline: auto;
  padding: 2rem 1.5rem;
  background-color: var(--dark-blue);
  border-radius: 1rem;
}

.star,
h1,
p {
  margin-bottom: 1rem;
}

.star {
  background-color: var(--medium-grey);
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

p {
  color: var(--medium-grey);
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.rating-numbers {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.rating-btn {
  background-color: var(--very-dark-blue);
  color: var(--medium-grey);
  font-size: 1rem;
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.rating-btn:focus {
  background-color: var(--orange);
  color: var(--white);
}
.rating-btn:hover {
  background-color: var(--light-grey);
  color: var(--white);
}
.btn {
  width: 100%;
  background: var(--orange);
  color: var(--white);
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 100vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.2s ease;
}

.btn:hover {
  background: var(--white);
  color: var(--orange);
}

.thank-you {
  text-align: center;
}
.thank-you img {
  margin-bottom: 2rem;
}

.rating {
  background-color: #1e262e;
  color: var(--orange);
  border-radius: 1rem;
  display: inline-block;
  padding: 0.6rem 2rem;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

